@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply h-full bg-black;
}
body {
  @apply h-full bg-black;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  @apply bg-app-gray;
  border-radius: 3px;
}
body::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
  border-radius: 3px;
}
