@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply h-full bg-black;
}
body {
  @apply h-full bg-black;
}
* {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  @apply bg-app-gray;
  border-radius: 3px;
}
*::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
  border-radius: 3px;
}
